*{
    margin: 0;
    padding: 0;
}

.principal{
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.item1 img {
    
}
.item1, .item2, .item3 {
    width: 150px;
    height: 150px;
}
.item1{
    background-color:rgb(42,205,5) ;
}
.item2{
    background-color: rgb(4, 0, 255) 
}
.item3{
    background-color: blueviolet;
}